/* 背景 */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 20px;
    background: linear-gradient(to bottom, #89c2d9, #e4f0ff);
    background-attachment: fixed;
    text-align: center;
}

/* 隱藏頁面 */
.hidden {
    display: none;
}

/* 主選單 */
.menu {
    margin-top: 70px;
}

.menu h1 {
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}

.menu button {
    width: 200px;
    padding: 15px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background: #4b81cd;
    color: white;
    cursor: pointer;
}

.menu button:hover {
    background: #4b81cd;
}

/* 標題 */
.title {
    color: #ffffff;
    font-size: 36px;
    margin-top: 10px;
}

.subtitle {
    color: #e4f2ff;
    margin-bottom: 25px;
    font-size: 16px;
}

/* 返回按鈕 */
.back {
    background: #82c7db;
    border: none;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

.back:hover {
    background: #82c7db;
}

.wallPage {
    background: #82c7db;
    border: none;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}
.inputPage {
    background: #82c7db;
    border: none;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

/* 留言輸入框 */
.input-box {
    width: 80%;
    max-width: 700px;
    background: white;
    padding: 40px;
    border-radius: 14px;
    margin: 0 auto 30px auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: left;
}

.input-box input,
.input-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #c8d6e5;
    border-radius: 10px;
    margin-bottom: 12px;
    font-size: 15px;
    outline: none;
}

.input-box input:focus,
.input-box textarea:focus {
    border-color: #0077b6;
}

.input-box button {
    width: 100%;
    padding: 12px;
    background: #1d3557;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.input-box button:hover {
    background: #16324f;
}

/* 便利貼顏色 */
:root {
    --sticky1: #fff3b0;
    --sticky2: #ffd6a5;
    --sticky3: #bde0fe;
    --sticky4: #caffbf;
    --sticky5: #ffadad;
    --sticky5: #adeaff;
}

/* 便利貼卡片 */
.message {
    width: 220px;
    min-height: 150px;
    padding: 15px;
    border-radius: 8px;
    display: inline-block;
    vertical-align: top;
    margin: 18px;

    background: var(--sticky1);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);

    transform: rotate(calc(var(--rotate) * 1deg));
    transition: 0.2s;
}

.message:hover {
    transform: rotate(calc(var(--rotate) * 1deg)) scale(1.05);
}

.message strong {
    font-size: 17px;
    color: #333;
}

.time {
    font-size: 12px;
    color: #555;
    margin-bottom: 5px;
}

.content {
    margin: 8px 0;
    font-size: 15px;
    line-height: 1.4;
}

.actions span {
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
}

.like { color: #e63946; }
.reply-btn { color: #1d3557; }
.delete-btn { color: #6c757d; }

.reply-box {
    background: rgba(255, 255, 255, 0.6);
    border-left: 3px solid #555;
    padding: 5px;
    border-radius: 5px;
    margin-top: 6px;
    font-size: 14px;
}
